@property --c {
    syntax: '<color>';
    inherits: false;
    initial-value: rgba(166, 0, 0, 0.0) ;
  }
.hero-section{
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    @media screen and (max-width: 992px) {

    }
    .hero-section-content{
        text-align: center;
        .hero-section-content-title{
            font-size: 2.8em;
            transition: all 0.6s;
            &:hover{
                transition: all 0.3s;
                text-shadow: rgba(166, 0, 0, 1)   0px 3px  20px ;
            }
            @media screen and (max-width: 992px) {
                font-size: 2.5em;
                text-align: center;
            }
        }
        .hero-section-content-description{
            font-size: 1.2em;
            transition: all 0.6s;

            &:hover{
                transition: all 0.3s;
                text-shadow: rgba(166, 0, 0, 1)   0px 0px  12px;
            }
            @media screen and (max-width: 992px) {
                text-align: center;
            }
        }
    }
    .hero-section-image-wrapper{
        max-width: 90%;
        background-image: radial-gradient(var(--c) 0%, rgba(166, 0, 0, 0.0) 60%);
        transition: --c 0.6s  ;
        &:hover{
            transition: --c 0.6s   ;
            --c: rgba(166, 0, 0, 0.5);
            border-radius: 50%;
        }
        .hero-section-image{
            transition: all 0.8s ;
            &:hover{
                transition: all 0.3s ;
                background-image: radial-gradient(rgba(166, 0, 0, 0.5) 0%, rgba(166, 0, 0, 0.0) 60%);
                border-radius: 33.5%;
            }
        }

    }
  }
  .hero-section-background {
    background: radial-gradient(#2b2b2b, #202020) no-repeat center center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
  }
  
  .dot-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
  }
  .dot{
    transition: width 0.2s, height 0.2s;
    background-color: #fcfafa;
    border-radius: 50%;
    height: 2px;
    width: 2px;
  }
  .hovered{
    .dot{
      transition: width 0.2s, height 0.2s;
      width: 12px;
      height: 12px;
    }
  }
  .inner-hovered{
    background: radial-gradient(rgba(166, 0, 0, 0.5) 0%, rgba(184, 10, 10, 0) 50%);
  
    .dot{
      transition: width 0.2s, height 0.2s;
      width: 10px;
      height: 10px;
    }
  }
  .center-hovered{
    background: radial-gradient(rgba(166, 0, 0, 0.5) 0%, rgba(184, 10, 10, 0) 40%);
  
    .dot{
      transition: width 0.2s, height 0.2s;
      width: 8px;
      height: 8px;
    }
  }
  .outer-hovered{
    background: radial-gradient(rgba(166, 0, 0, 0.5) 0%, rgba(184, 10, 10, 0) 30%);
  
    .dot{
      transition: width 0.2s, height 0.2s;
      width: 6px;
      height: 6px;
    }
  }
  
  .selected{
    background: radial-gradient(rgba(166, 0, 0, 0.5) 0%, rgba(184, 10, 10, 0) 70%);
    .dot{
      transition: width 0.2s, height 0.2s;
      width: 12px;
      height: 12px;
    }
  }


