.hero-section {
  background: #202020 no-repeat center center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #fff;
  text-align: center;
}

.dot-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  &:hover .dot {
    width: 8px;
    height: 8px;
  }
}
.dot{
  background-color: #fcfafa;
  border-radius: 50%;
  height: 2px;
  width: 2px;
}
