@font-face {
  font-family: "JetBrains Mono";   
  src: local("JetBrains-Mono"),
    url("./assets/JetBrainsMono.ttf") format("truetype");
}
body {
  margin: 0;
  font-family:"JetBrains Mono", 
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #202020;
  color: #fcfafa;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
